:root {
    --color-primary: hsl(142, 71%, 45%);
    --color-black: hsl(222, 47%, 11%);
    --color-gray-background: hsl(210, 40%, 96%);
    --color-gray-border: hsl(213, 27%, 84%);
    --color-gray-text: hsl(215, 16%, 47%);
    --color-yellow: hsl(50, 98%, 64%);
    --color-orange: hsl(31, 97%, 72%);
    --color-green: hsl(142, 77%, 73%);
    --color-red: hsl(0, 94%, 82%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
